﻿@model AJAX_HELPERS_Ajax.BeginForm___IN_MVC.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div id="loadingImg" style="display:none;">
    <img src="~/Image/0_JVdgKzSfU4q4psf6.gif" width="100" height="100"/>
</div>
<div id="S1" >

</div>

@using (Ajax.BeginForm("Create", "Home", new AjaxOptions() {

    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "S1",
    LoadingElementId = "loadingImg",
    LoadingElementDuration = 1000,
    Confirm="Are you sure to insert data !!",
    OnComplete= "clearfiled",


}))
{
    @Html.AntiForgeryToken()
  
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control",id="txtid" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "txtname" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", id = "txtdesi" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", id = "txtage" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    function clearfiled() {
        document.getElementById('txtid').value = "";
        document.getElementById('txtname').value = "";
        document.getElementById('txtdesi').value = "";
        document.getElementById('txtage').value = "";

    }
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/scripts/jquery-1.8.0.min.js"></script>