﻿@model IEnumerable<AJAX_HELPERS_Ajax.BeginForm___IN_MVC.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="loadingImg" style="display:none;">
    <img src="~/Image/0_JVdgKzSfU4q4psf6.gif" width="100" height="100" />
</div>

@using (Ajax.BeginForm("Index", "Home", new AjaxOptions()
{

    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "DIVLIST",
    LoadingElementId = "loadingImg",
    LoadingElementDuration=10000,
}))
{
    <label>Search by name</label>
    <input type="text" name="q"/>
    <input type="submit" name="Search"/>
}

<div id="DIVLIST">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
              
            </tr>
        }

    </table>
</div>
<script src="~/scripts/jquery-1.8.0.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>