﻿@model Custom_Validation.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home",FormMethod.Post))
{
    @Html.ValidationSummary()

    @Html.EditorFor(x => x.name)<br /><br />
    @Html.EditorFor(x => x.Message)<br /><br />
    <input type="submit" name="Submit"/>
}
