﻿body 
{
    margin:0;
    padding:0;
    background-image:url('../Images/login-background (1).jpg');
    background-size:cover;
    font-family:Sans-Serif;
}
.loginbox{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:350px;
    height:420px;
    padding:80px 40px;
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.5);
}
.user{
        width:100px;
        height:100px;
        overflow: hidden;
        top:calc(-100px/2);
        left: calc(50% - 50px);
        position:absolute;
}
h2
{
    padding:0;
    margin:0;
    text-align:center;
    color:rgb(255, 217, 9);
    }
.lablemail, .lablpass
    {
        fon-weight:bold;
        color: #fff;
        }
.txtemail, .txtpass, .btnsubmit 
{
    width:100%;
    margin-bottom:20px;
   
}
.txtemail, .txtpass
{
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
}     
::placeholder
{
    color:rgba(255, 255, 255, .5);
}
.btnsubmit
{
    border:none;
    outline:none;
    height:40px;
    font-size:16px;
    color:#fff;
    background-color: rgb(146, 89, 25);
    cursor:pointer;
    border-radius:20px;
    transition: .3s ease-in-out;
}
.btnsubmit:hover
{
    background-color:rgb(255, 217, 9);
}

.btnforget
{
    forn-size:16px;
    font-weight:700;
    text-decoration:none;
    color:#fff;
}
.btnforget:hover
{
    text-decoration:underline;
}