﻿@model Pass_Data_View_To_Controller.Models.Employee
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Setparameter", "Home",FormMethod.Post))
{
    <input type="text" name="firstname"/>
    <br />
    <input type="text" name="lastname" />
    <br />
    <input type="submit" name="Submit" />
}
<br />
<br />
@using (Html.BeginForm("SetRequest", "Home", FormMethod.Post))
{
    <input type="text" name="firstname" />
    <br />
    <input type="text" name="lastname" />
    <br />
    <input type="submit" name="Submit" />
}
<br />
<br />
@using (Html.BeginForm("SetFormCollection", "Home", FormMethod.Post))
{
    <input type="text" name="firstname" />
    <br />
    <input type="text" name="lastname" />
    <br />
    <input type="submit" name="Submit" />
}
<br />
<br />
@using (Html.BeginForm("SetModel", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.first)
    <br />
    @Html.TextBoxFor(x => x.second)

    <br />
    <input type="submit" name="Submit" />
}