﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="Navbar_Boot.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
 <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
</head>
<body>
           <form id="form1" runat="server">
    <div>
        <div class="container " style="border:5px black solid">
            <div class="row ">
                <div class="col-md-4 col-sm-4">
                    <img src="Image/appnow.png" width="150" height="150"/>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="jumbotron">
                            <p>THIS IS MY DIV</p>
                    </div>               
                </div>                         
            </div>

            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                          <%--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#btncollapse" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>--%>
                            <a href="#" class="navbar-brand">MY WEBSITE APPNOW</a>
                        </div>
                        <div id="btncollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Product <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                      <li class="dropdown-header">Gifts</li>
                                      <li><a href="#">Perfumes</a></li>
                                      <li><a href="#">Shoes</a></li>
                                      <li><a href="#">Goggles</a></li>
                                      <li class="divider"></li>

                                      <li class="dropdown-header" >Shirts</li>
                                      <li><a href="#">T-Shirts</a></li>

                                </ul>
                            </li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                          <%--  <form class="navbar-form navbar-left">
                                <div class="">
                                    <input type="text" class="form-control " placeholder="Search" style="width:inherit" />
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <li class="glyphicon glyphicon-search"></li>
                                        </button>
                                    </div>
                                </div>

                            </form>--%>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                            <%--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>--%>
                        </div>
                    </div>
                    </div>
                </nav>
            </div>  


       
        </div>
    </div>
    </form>
     <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
</body>
</html>
