﻿
@{
    ViewBag.Title = "about";
}

<h2>about</h2>
<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("AboutUS", "about", "Home")</li>
        <li>@Html.ActionLink("Contact", "contact", "Home")</li>
    </ul>
</nav>
@*<h3>@TempData["Name"] </h3>



@{
    foreach (string i in (string[])TempData["GamesArray"])
    {
        <p>@i</p> 
    }
}*@


<h3>@ViewData["Var1"]</h3>

<h3>@ViewBag.Var2</h3>

<h3>@TempData["Var3"]</h3>

<h3>@Session["Var4"]</h3>