﻿@model List< WebApplication3.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "about", "Home")</li>
        <li>@Html.ActionLink("Contact", "contact", "Home")</li>
    </ul>
</nav>
@Html.TextBox("fullname", "Adnan", new { @class = "Agetxt", title = "please enter your name" });
@*@Html.TextBox("fullname");
<br />
<br />
@Html.TextBox("fullname", "Mehran", new { style = "background:red ; color:blue " });
<br />
<br />

<br />
<br />
@Html.TextBox("fullname", "Adnan", new { @class = "form-control"});*@

@{
    Html.BeginForm("Index", "Home");
}


@Html.Label("Name") &ndash; @Html.TextBox("Txt")
<br />
<br />

@Html.Label("Password") &ndash; @Html.Password("Pass")
<br />
<br />

@Html.Label("Male") &ndash; @Html.RadioButton("Gender", "Male"); &ndash; @Html.Label("Female") &ndash; @Html.RadioButton("Gender", "Female");

<br />
<br />
@Html.Label("Address") &ndash; @Html.TextArea("address", "", 5, 20, null)


<br />
<br />
@Html.Label("Address") &ndash; @Html.DropDownList("countrylist", new SelectList(new[] { "PAK", "IND", "AST" }), "Choose")


@{ 
    Html.EndForm();
}

@*<ul>
    @{ 
        foreach (string  i in (string[])TempData["GamesArray"])
        {
            <li>@i</li>
        }
    }
</ul>*@

@*<ul>
    <li>@Model.id</li>
    <li>@Model.name</li>
    <li>@Model.age</li>
</ul>*@

<h2>Strongly Type Data View</h2>
<ul>
    @{
        foreach (var i in Model)
        {
            <li>@i.id</li>
            <li>@i.name</li>
            <li>@i.age</li>
        }
    }
</ul>

@Html.Partial("_Employee");
<br />
<br />
@{ 
    Html.RenderPartial("_Employee");
}
<br />
<br />

@{ 
    var list = Html.Partial("_Employee");
    list = new MvcHtmlString("<h3>Here is Employee List</h3>"+ list.ToString());
}
@list


