﻿@model IEnumerable<AJAX_HELPERS_Ajax.BeginForm___IN_MVC.Models.Employee>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
  
    </tr>
}
    @{
        if (Convert.ToInt32(Session["MoreLoad"]) > Model.Count())
        {

        }
        else
        {
            <tr>
                <td colspan="3" align="center">
                    <div id="loadingImg" style="display:none;">
                        <img src="~/Image/0_JVdgKzSfU4q4psf6.gif" width="100" height="100" />
                    </div>

                    @Ajax.ActionLink("Load More Data", "Index", "LoadMoreList", new AjaxOptions()
                       {

                           HttpMethod = "POST",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "DIVLIST",
                           LoadingElementId = "loadingImg",
                           LoadingElementDuration = 1000,
                       }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    }

</table>

<script src="~/scripts/jquery-1.8.0.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>