﻿@model IEnumerable<AJAX_HELPERS_Ajax.BeginForm___IN_MVC.Models.Employee>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>
    @{ 
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>

                </tr>
            }
        }
        else
        {
            <tr >
                <td colspan="3">
                    <text>no record</text>
                </td> 
            </tr>
        
        }
    }


</table>
<script src="~/scripts/jquery-1.8.0.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>