﻿
@model IEnumerable<Core_app.Models.Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //  Layout = null;
}

<h1>Index</h1>
<h3>Hello Mehran, How are you?</h3>
<p>View Data</p>
@ViewData["var1"]
<br />
<br />

@ViewData["var2"]
<br />
<br />

@{
    foreach (var item in (string[])ViewData["Ary"])
    {
        <p>@item</p>
    }
}
<br />
<br />
@{
    foreach (var item1 in (List<string>)ViewData["lt"])
    {
        <p>@item1</p>
    }
}

<br />
<br />
@{
    var data = (Core_app.Models.Student)ViewData["var5"];

    foreach (var items in Model)
    {
        <p>@items.id</p>
        <p>@items.name</p>
        <p>@items.Gender</p>
    }
    //error condition check

}
<h1>@data.id</h1>
<h1>@data.name</h1>
<h1>@data.Gender</h1>


<p>View Bag</p>

@ViewBag.Var11
<br />
<br />

@ViewBag.Var22
<br />
<br />

@{
    foreach (var item1 in ViewBag.Ary1)
    {
        <p>@item1</p>
    }
}

<a href="Home/Details">Details SIMPLE LINK PATH</a>
<br />
<a href="@Url.Action("Details","Home")">Details JUST PATH</a>
<br />
@Html.ActionLink("Details HTML HELPER ASP.NET MVC", "Details", "Home")
<br />
<a  asp-controller="Home" asp-action="Index" >Details Tag Helper CORE MVC</a>

<br/>
<br/>
<br/>

<h1>WITH PARAMETER</h1>

<a href="Home/Details/5">Details SIMPLE LINK PATH</a>
<br />
<a href="@Url.Action("Details","Home",new  {id=5 })">Details JUST PATH</a>
<br />
@Html.ActionLink("Details HTML HELPER ASP.NET MVC", "Details", "Home",new { id=5})
<br />
<a asp-controller="Home" asp-action="Details" asp-route-id="5">Details Tag Helper CORE MVC</a>

@TempData["tempData"]

<p>IMAGE TAG HELPER </p>
<img src="/images/mens-sport-shoe.jpg" asp-append-version="true" height="200" width="200" alt="Alternate Text" />