﻿@using Core_app;
@model dynamic
 
@{
    ViewData["Title"] = "Stud";
}

<h1>Stud</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @{
                foreach (Student stu in Model.Student)
                {
                    <ul>
                        <li>@stu.id</li>
                        <li>@stu.name</li>                           
                    </ul>
                }
            }
        </div>
    </div>
    @*<div class="row">
        <div class="col-sm-4 text-center">
            <form asp-action="Stud" asp-controller="Home" method="post">
                <label asp-for="name">Name</label>
                <input asp-for="id" placeholder="Enter your ID" class="form-control" />
                <br />
                <input asp-for="name" placeholder="Enter your Name" class="form-control" />
                <br />
                <input asp-for="Gender" placeholder="Enter your Gender" class="form-control" />
                <br />
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select Gender</option>
                </select>
                <br />
                <label>Married</label>
                <br />
                <label>Yes</label>
                <input type="radio" asp-for="Married" value="Yes" />
                <label>No</label>
                <input type="radio" asp-for="Married" value="No" />
                <br />
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </form>
        </div>
    </div>*@
</div>