﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>

<br />
No Account yet? @Html.ActionLink("Signup Now!","SingUp","Account")
<br />
@Html.ActionLink("Login!", "Login", "Account")
