﻿@model IEnumerable<Hyperlink.Models.DB.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Department List</h2>

<ul>
    @foreach (var item in Model)
    {

        <li>@Html.ActionLink(item.Name, "Index", "Home",new
       {
           deprId=item.Id
       },null)</li>

    }
</ul>
