﻿@model List<STRONGLY_TYPED_PARTIAL_VIEW_MVC.Models.Products>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    foreach (var item in Model)
    {
        Html.RenderPartial("_Product",item);
    }
 }
