﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <h1>ID </h1> - <h2 id="id"></h2>
    <h1>Name </h1> - <h2 id="name"></h2>
    <h1>Gender </h1> - <h2 id="gender"></h2>
    @*<input type="text" id="txt" name="txt" value="" />
    <label id="la"></label>*@
    <input type="button" onclick="BtnClick()" value="Click"/>

    <br /><br />
    <form>
        <input type="text" id="stdid"/>
        <br />
        <input type="text" id="stdna" />
        <br />
        <input type="text" id="stdgen" />
        <br />
        <input type="button" value="Save" onclick="btnsave()"/>
    </form>

</body>
</html>

<script>
    //$(document).ready(function () {
    //   // alert("Hello Mehran How are you?");
    //   // $('#la').text("Hello Mehran");
    //});

    //function Fun() {
    //    var valu = $('#txt').val();
    //    $('#la').text(valu);
    //}
    function BtnClick() {
        $.ajax({
            url: "/Home/GetJSON",
            method: "GET",
            success: function (data) {
                
                //console.log(data);
                data = JSON.parse(data);
                $('#id').text(data.id);
                $('#name').text(data.name);
                $('#gender').text(data.gender);
                //console.log(data);
            },
            error: function (err) {
                console.log(err)
            }

        });
    }

    function btnsave() {
        var id = $('#stdid').val();
        var nam = $('#stdna').val();
        var gen = $('#stdgen').val();

        var obj = {
            Id:id,
            name:nam,
            gender:gen
        }
        SaveStd(obj);
    }
    function SaveStd(obj) {
        $.ajax({
            url: "/Home/AddStd",
            method: "POST",
            data:obj,
            success: function (data) {
                alert(data);
            },
            error: function (err) {
                console.log(err)
            }

        });
    }


</script>