﻿@model IEnumerable<Attribute_Routing.Models.Student>

@{
    ViewBag.Title = "GetAllStudent";
}

<h2>GetAllStudent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
       {
           id = item.Id
       }) |
                @Html.ActionLink("Details", "Details", new
       {
           id = item.Id
       }) |
                @Html.ActionLink("Delete", "Delete", new
       {
           id = item.Id
       })
            </td>
        </tr>
    }

</table>

