﻿@model Attribute_Routing.Models.Student

@{
    ViewBag.Title = "GetStudent";
}

<h2>GetStudent</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new
{
    id = Model.Id
}) |
    @Html.ActionLink("Back to List", "Index")
</p>

