﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<ul>
    @{ 
        var data =(WebApplication2.Models.Emp) TempData["meh"];
        <li>@data.id</li>
        <li>@data.name</li>
        <li>@data.age</li>
    }
</ul>*@

<ul>
    @{
        foreach (string i in (string[])TempData["gamesarray"])
        {
            <li>@i</li>
        }

    }
</ul>

