﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="HafizBuilder.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
                <p>Hello Word</p>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                <ajaxToolkit:ComboBox ID ="ss" runat="server" ></ajaxToolkit:ComboBox>
            </ContentTemplate>
        </asp:UpdatePanel>
        
    </div>
        
    </form>
</body>
</html>
