﻿@using WebApplication5.Models
@model IndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{

    foreach (var Stu in Model.Student)
    {
        <ul>
            <li>@Stu.StudentId</li>
            <li>@Stu.Name</li>
            <li>@Stu.Code</li>
        </ul>
    }

    <br />
    <br />

    foreach (var tec in Model.Teacher)
    {
        <ul>
            <li>@tec.TeacherId</li>
            <li>@tec.Name</li>
            <li>@tec.Code</li>
        </ul>
    }
}


