﻿@{
    Layout = null;
}

@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hgroup>
        <h1>Error Occured</h1>
        @*<h2>Controller Name: @Model.ControllerName</h2>
        <h2>Action Name: @Model.ActionName</h2>
        <h2>Exception Details : @Model.Exception</h2>*@
        <h1>Unknow Error</h1>
        <h2>An unknow error has occured. we are working on it. please try some time.</h2>
    </hgroup>
</body>
</html>
