﻿@model IEnumerable<Hyperlink.Models.DB.Employee>
@using Hyperlink.Models.DB;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Employee List</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "Details", new
       {
           id = item.ID
       })
        </li>

    }

</ul>

