﻿@model STRONGLY_TYPED_HTML_HELPERS_MVC.Models.SignUp

@Html.Raw(TempData["Register"])

@using (Html.BeginForm("Index","Home",FormMethod.Post))
{


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            @{
                ViewBag.Title = "Index";
            }

            @using (Html.BeginForm())
            {
                <h2>SignUp Form</h2>
                <p> @Html.HiddenFor(model=> model.ID)</p>

                <p> @Html.DisplayNameFor(model => model.Name)           @Html.TextBoxFor(model => model.Name, new { @class = "form-control " }) @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</p>
                <p> @Html.DisplayNameFor(model => model.Password)       @Html.PasswordFor(model => model.Password, new { @class = "form-control " }) @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" }) </p>
                <p> @Html.DisplayNameFor(model => model.ConPassword)    @Html.PasswordFor(model => model.ConPassword, new { @class = "form-control " }) @Html.ValidationMessageFor(model => model.ConPassword, "", new { @class = "text-danger" }) </p>
                <p> @Html.DisplayNameFor(model => model.Gender)         @Html.DropDownListFor(model => model.Gender, new SelectList(new[] { "Male", "Female" }), "Select", new { @class = "form-control " }) @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })</p>
                <p> @Html.DisplayNameFor(model => model.Email)          @Html.TextBoxFor(model => model.Email, new { @class = "form-control " }) @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</p>
                <p> @Html.DisplayNameFor(model => model.Comment)        @Html.EditorFor(model => model.Comment,new { HtmlAttributes = new { @class = "form-control " } }) @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })</p>
                <p> @Html.DisplayNameFor(model => model.Organization)   @Html.TextBoxFor(model => model.Organization, new { @class = "form-control ",@Value="ABC ORGANIZATION", @readonly=true })</p>
                <p> @Html.DisplayNameFor(model => model.Date)           @Html.EditorFor(model => model.Date, new { HtmlAttributes = new { @class = "form-control " } }) @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })</p>
                <p> @Html.DisplayNameFor(model => model.Time)           @Html.EditorFor(model => model.Time, new { HtmlAttributes = new { @class = "form-control " } }) @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })</p>

                <p> <input type="submit" name="submit" value="Submit" class="form-control btn btn-info" /></p>
                @Html.Raw(ViewData["SuccessMessage"])

            }

            @*@using (Html.BeginForm())
                {
                    <p>Enter Name  : @Html.TextBox("Name") @Html.ValidationMessage("Name")</p>
                    <p>Enter Age   : @Html.TextBox("Age")  @Html.ValidationMessage("Age")</p>
                    <p>Enter Email : @Html.TextBox("Email") @Html.ValidationMessage("Email")</p>

                    <p> <input type="submit" name="submit" value="Submit" class="form-control" /></p>

                }*@
        </div>
    </div>

</div>
                }