﻿@model IEnumerable<CREATING_CRUD_DATABASE_FIRST_APPROACH.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <b>Search By :</b> @Html.RadioButton("SearchBy", "Name", true)  <text>Name</text>
    @Html.RadioButton("SearchBy", "Gender")  <text>Gender</text> <br />
    @Html.TextBox("Search") <input type="submit" value="search" />

}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

   @if (Model.Count() == 0)
   {
       <tr>
           <td colspan="3">
               <p>No Rows Found !!</p>
           </td>
       </tr>
   }
   else
   {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
   }
</table>
