﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="font-family:Arial">
    @using (Html.BeginForm())
    {
        <b>Comments:</b>
        <br />
        @Html.TextArea("Comments")
        <br />
        <br />
        <input type="submit" value="submit"/>
    }
</div>

