﻿body {
    background:linear-gradient(to left,pink,red,orange)
}
h3{
    color:bisque;
}
#MYDIV{
    border:5px black solid;
    color:red;
    background-color:grey;
    height:200px;
    width:300px;
    transition-duration:3s;
    transition-property:all;
    transition-delay:1s;
}

#MYDIV:hover{
    width:500px;
    height:400px;
    border-radius:100px;
    transform:rotate(30deg);
}