﻿@model Cookies1.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Username,new {@class="form-Control" })
             
            </td>
            <td>
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </td>        
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password, new { @class = "form-Control" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </td>
        </tr>
    </table>
}

