﻿body {
    font-family:Sans-Serif;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.main_col_div{
    vertical-align:middle;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    height:380px;
    /*transform: translate(-50%,-50%);*/
    width:350px;
    background-color: rgba(0,0,0,0.5);
}
.user{
        width:100px;
        height:100px;
        overflow: hidden;
        top:calc(-100px/2);
        left: calc(50% - 50px);
        position:absolute;
}
.txtemail, .txtpass, .btnsubmit 
{
    width:100%;
    margin-bottom:20px;
   
}
.txtemail, .txtpass
{
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
    margin:10px 0 0 0;
}  
h4
{
    padding:0;
    margin:80px 0 0 0 ;
    text-align:center;
    color:rgb(255, 217, 9);
    }   
::placeholder
{
    color:rgba(255, 255, 255, .5);
}
.btnsubmit
{
    border:none;
    outline:none;
    height:40px;
    font-size:16px;
    color:#fff;
    background-color: rgb(146, 89, 25);
    cursor:pointer;
    border-radius:20px;
    transition: .3s ease-in-out;
    margin:10px 0 0 0;
}
.btnsubmit:hover
{
    background-color:rgb(255, 217, 9);
}

.btnforget
{
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    color:#fff;
}
.btnforget:hover
{
    text-decoration:underline;
}
@media (max-width: 768px) {
    .main_col_div{
      
    }
    

}