﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<input id="txtname" type="text" name="uname" value=""/>
<br />
<br />
@Html.TextBox("fullname")
<br />
<br />
@Html.TextBox("fullfname","Mehran")
<br />
<br />
@Html.TextBox("fullname","Mehran",new { style="background:red; color:white" })

<br />
<br />
@Html.TextBox("fullname", "Mehran", new
{
    style = "background:red; color:white",title="Please enter name"
})
<br />
<br />
@Html.TextBox("fullname", "Mehran", new
{
    style = "background:red; color:white",@readonly=true
})

<br />
<br />
@Html.TextBox("fullname", "Mehran", new
{
    @class="form-control"
})

<br />
@Html.TextBox("fullname", "Mehran", new
{
    @class="txtnamestyle"
})*@

@{

    Html.BeginForm("Index", "Home");
}

@Html.Label("Username") &nbsp; @Html.TextBox("Username")
<br />
@Html.Label("Password") &nbsp; @Html.Password("Pass")
<br />
@Html.Label("Male") &nbsp; @Html.RadioButton("Gender","Male",true)
<br />
@Html.Label("Female") &nbsp; @Html.RadioButton("Gender", "Female")
<br />
@Html.Label("Country") &nbsp; @Html.DropDownList("Country",new SelectList(new[] { "Pakistan","India"}),"Choose")
<br />
@Html.Label("Comment") &nbsp; @Html.TextArea("Comment","",5,20,null)
<br />
@Html.CheckBox("AcceptTerms",true) &nbsp; @Html.Label("I accept the terms")
<br />
@Html.Hidden("Id")

@{

    Html.EndForm();
}

