﻿body 
{
    margin:0;
    padding:0;
    background-image:url('../Images/Product.jpg');
    background-size:cover;
    font-family:Sans-Serif;
}
.addaccountbox{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:716px;
    height:576px;
    padding:80px 40px;
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.5);
}
.Account{
        width:100px;
        height:100px;
        overflow: hidden;
        top:calc(-100px/2);
        left: calc(50% - 50px);
        position:absolute;
}
h2
{
    padding:0;
    margin:0;
    text-align:center;
    color:rgb(255, 217, 9);
    }
.lablid, .lablid, .lablname, .lablcontact, .lablemail, .labltype
    {
        fon-weight:bold;
        color: #fff;
        }
.txt_id, .txt_Name, .txt_contact, .txt_email, .cmb_category
{
    width:100%;
    margin-bottom:20px;
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
}
.txtmetterb, .tileinb, .txttileim
{
    width:17%;
    margin-bottom:20px;
    border:none;
    text-align:center;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
    }
.cmb_type, .cmb_size
{
    width:43.7%;
    margin-bottom:20px;
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
    }
    
.txtpur, .txtsrate
{
    width:34.4%;
    margin-bottom:20px;
    border:none;
    text-align:center;
    border-bottom:1px solid #fff;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
    background-color:transparent;
    }
        
.btnsubmit, .btnreset, .btnupdate 
{
    width:30%;
    margin-botton:20%;
    border:none;
    outline:none;
    height:40px;
    font-size:16px;
    color:#fff;
    background-color: rgb(146, 89, 25);
    cursor:pointer;
    border-radius:20px;
    transition: .3s ease-in-out;
    
}   
::placeholder
{
    color:rgba(255, 255, 255, .5);
}

.btnsubmit:hover, .btnreset:hover, .btnupdate:hover
{
    background-color:rgb(255, 217, 9);
}
