﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Col.aspx.cs" Inherits="Bootstrap_Column.Col" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="container">
        <div class="row ">

            <div class="col-md-6"><p class="text-warning has-success">sdfs</p></div>

        </div>
    </div>
    </form>
    <script src="Scripts/jquery-3.6.0.js"></script>
   
    <script src="Scripts/bootstrap.min.js"></script>
</body>
</html>
