﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hgroup>
        <h1>Error Occured </h1>
        <h1 class="alert alert-danger">An unknown error occurred while processing your request.</h1>
    </hgroup> 
</body>
</html>
