﻿@model STRONGLY_TYPED_PARTIAL_VIEW_MVC.Models.Products

<table border="2" width="400">
    <tr>
        <td>
            <img src="@Url.Content(Model.Image)" width="100"/>
        </td>
        <td>
            <table width="100">
                <tr>
                    <td>ID: </td>
                    <td>@Model.ID </td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td>@Model.Name </td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <td>@Model.Price </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
