﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>TODAY DATE AND TIME IS: @DateTime.Now.Date</h4>

@{ 
    string name = "Mirza Mehran";
    var a = 1041;
    <h2>Name : @name</h2>
    <h2>Roll No : @a</h2>
}

@{ 
    string fruit = "apple";
    switch (fruit)
    {
        case "apple":
            <h5>YOU HAVE SELECTED APPLE</h5>
            break;
        case "strawberry":
            <h5>YOU HAVE SELECTED STRAWBERRY</h5>
            break;

        default:
            <h5>INVALID FRUIT</h5>
            break;
    }
}

@{ 
    string[] game = { "FootBall", "Cricket", "Hockey" };

    foreach (string gam in game)
    {
        <h5>YOU HAVE SELECTED Game : @gam</h5>
    }
}

<h3>@ViewData["date"]</h3>
@{ 
    var Meh = (MVC_T1.Models.Employee)ViewData["Employ"];
    <p>@Meh.id</p>
    <p>@Meh.name</p>
    <p>@Meh.designation</p>

    }

@{
    var ad = ViewBag.emp;
    <p>@ad.id</p>
    <p>@ad.name</p>
    <p>@ad.designation</p>

}