﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="loadingImg" style="display:none;">
    <img src="~/Image/0_JVdgKzSfU4q4psf6.gif" width="100" height="100" />
</div>

@Ajax.ActionLink("List Employees", "ListAllEmp", "ListEmp",
    new AjaxOptions() {

        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DIVUPDATE",
        LoadingElementId = "loadingImg",
        LoadingElementDuration = 2000,

})

<span>--</span>

@Ajax.ActionLink("List High Age Employees", "ListEmpHighAge", "ListEmp",
    new AjaxOptions()
    {

        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DIVUPDATE",
        LoadingElementId = "loadingImg",
        LoadingElementDuration = 2000,

    })


<div id="DIVUPDATE">

</div>
<script src="~/scripts/jquery-1.8.0.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>