﻿@using Html_helper_inline.Models;
@model Student
        
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>InLine Helper </p>

@helper Methodname(string [] str)
{
    <ul>
        @foreach (var item in str)
        {
            <li>@item</li>
        }
    </ul>
}

<div>
    @Methodname(new string[] {"Talha","Usama","Huzaifa" })
</div>

<br />
<br />
<div>
    @Methodname(new string[] { "ASP.NET MVC", "PHP", "C#" })
</div>

<p>Strongle type Html HeLPER data pass controller to view </p>

@Html.TextBoxFor(model => model.id)
<br />
@Html.TextBoxFor(model => model.name)
<br />
@Html.CheckBoxFor(model => model.gender)
