﻿@using Multiple_Models_in_Single_View_in_MVC.Models
@*@model VMIndex*@
@*@model dynamic*@

@model Tuple<List<Student>, List<Teacher>>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="container">
        <div class="col-md-12">
            <table border="1" width="1000" align="center">
                <tr>
                    <td colspan="3">Student Sheet</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Code</td>
                    <td>Student Name</td>
                </tr>
                    @*@foreach (var Stu in Model.Item1)
                    {
                        <tr>
                            <td>@Stu.StudentId</td>
                            <td>@Stu.Code</td>
                            <td>@Stu.Name</td>
                        </tr>
                    }*@
                    @foreach (var Stu in ViewBag.Student)
                    {
                        <tr>
                            <td>@Stu.StudentId</td>
                            <td>@Stu.Code</td>
                            <td>@Stu.Name</td>
                        </tr>
                    }
                
            </table>
        </div>
        <br />
        <div class="col-md-12">
            <table border="1" width="1000" align="center">
                <tr>
                    <td colspan="3">Teacher Sheet</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Code</td>
                    <td>Teacher Name</td>
                </tr>
                    @*@foreach (var Tea in Model.Item2)
                    {
                        <tr>
                            <td>@Tea.TeacherId</td>
                            <td>@Tea.Code</td>
                            <td>@Tea.Name</td>

                        </tr>
                    }*@
                    @foreach (var Tea in ViewBag.Teacher)
                    {
                        <tr>
                            <td>@Tea.TeacherId</td>
                            <td>@Tea.Code</td>
                            <td>@Tea.Name</td>

                        </tr>
                    }
                
            </table>

        </div>
    </div>
    
    


